/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

/* Valores por defecto */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Variables */

:root {
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(210, 25%, 81%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}

/* Body */

body {
    background-color: var(--Light-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* General classes */

.container {
    margin: 0 1.2em;
}

.mt {
    margin: .7em 0;
}

.center {
    text-align: center;
}

/* Card */

.card {
    height: 27em;
    width: 18em;
    background-color: var(--White);
    border-radius: 1.5em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card img {
    max-width: 100%;
    border-radius: .5em;
}

.card h3 {
    font-family: 'Outfit', sans-serif;
    color: var(--Dark-blue);
}

.card p {
    color: var(--Light-gray);
    font-family: 'Outfit', sans-serif;
}